.box {
    border: 1px dashed;
    background-color: var(--secondary-color);
    padding: calc(var(--space) * 3);

    p,
    details {
      margin-top: calc(var(--space) * 1.7);
    }

    summary {
      cursor: pointer;
    }

    summary + p,
    li {
      margin-top: var(--space);
    }

    h1 + details,
    label:not(:first-child) {
      margin-top: calc(var(--space) * 2);
    }
  }

.with-drop-shadow {
  border: 1px solid;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px #000);
}

// i want to use this svg in contact me but cant figure out how to get it there and sized
// <svg viewBox="0 0 15 15" fill="none" aria-hidden="true"><path d="M14.5.5l.46.197a.5.5 0 00-.657-.657L14.5.5zm-14 6l-.197-.46a.5.5 0 00-.06.889L.5 6.5zm8 8l-.429.257a.5.5 0 00.889-.06L8.5 14.5zM14.303.04l-14 6 .394.92 14-6-.394-.92zM.243 6.93l5 3 .514-.858-5-3-.514.858zM5.07 9.757l3 5 .858-.514-3-5-.858.514zm3.889 4.94l6-14-.92-.394-6 14 .92.394zM14.146.147l-9 9 .708.707 9-9-.708-.708z" fill="currentColor"></path></svg>
svg {
    height: 12px;
  }