:root {
    --primary-color: #ffffff;
    --secondary-color: #f4f4f4;
    --text-color: #333333;
    --accent-color: #005a87;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    background-image: none;
    color: var(--text-color);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1,
h2,
h3 {
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

main {
    background-color: var(--secondary-color);
    padding: 2rem;
}

.article-meta,
.menu a {
    /* was #eee; */
    background-color: #ffffff;
    padding: 4px;
    border: none;
    /* border-radius: 5px; */
    text-decoration: underline;
}

.title {
    font-size: 1.5em;
    /* text-align: left; */
    /* color: var(--accent-color); */
    /* text-shadow: 10px 10px 50px #005a87; */
}