@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

h1 {
  font-size: 2em;
}

body {
  line-height: 1.25;
  font-family: "EB Garamond", Georgia, serif;
  font-weight: 500;
  color: #000;
}