/* DELETE THIS TO SWITCH BACK TO DEFAULT OF THEME */

:root {
    --space: 8px;
    /* --wrapper-padding: calc(var(--space) * 3); */
    --wrapper-max-width: 70ch;
    --primary-color: hsl(274, 100%, 99%);
    --secondary-color: hsl(204, 100%, 98%);
    --tertiary-color: hsl(41deg 44% 18%);
    --menu-button-color: hsla(183, 24%, 63%, 0.254);
    --quaternary-color: hsl(0deg 72% 42% / 91%);
    --heading: 1.2rem;
    --body: 1.15rem;
    --weight-bold: 700;
    --weight-normal: 400;
    scrollbar-color: var(--secondary-color) var(--primary-color)
}

body {
    /* max-width: 800px; */
    max-width: var(--wrapper-max-width);
    margin: auto;
    padding: 1em;
    background-attachment: fixed;
    background-color: var(--primary-color);
    background-image: url(/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
    color: var(--tertiary-color);
    font-size: var(--body);
}


/* header and footer areas */
.menu {
    padding: 0em;
}


.menu li {
    display: inline-block;
    padding-left: 1px;
}

.article-meta {
    margin-left: auto;
    margin-right: 0;
    border: 2px dashed;
}

.menu a {
    border: 1px solid;
}

.article-meta,
.menu a {
    text-decoration: none;

    background-color: var(--menu-button-color);
    border: 2px solid;
    border-radius: 1px;
    padding: 5px;
}

.menu,
.article-meta,
footer {
    text-align: right;
}

.title {
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
}

hr {
    border-style: dashed;
    color: #ddd;
}

/* code */
pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}

/* misc elements */
img,
iframe,
video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee;
}