<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{- $style := (resources.Get "css/style.css") }}
    {{- $box := resources.Get "css/box.scss" | css.Sass }}
    {{- $fonts := (resources.Get "css/fonts.css") }}
    {{- $stylesheet := (slice $box $style $fonts) | resources.Concat "assets/css/stylesheet.css" | resources.Minify }}

    {{- if not site.Params.assets.disableFingerprinting }}
    {{- $stylesheet := $stylesheet | fingerprint }}
    <link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}"
        rel="preload stylesheet" as="style">
    {{- else }}
    <link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" rel="preload stylesheet" as="style">
    {{- end }}

    {{ partial "analytics.html" . }}
    {{ partial "head_custom.html" . }}

</head>