<nav>
    <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        <!--
        {{ with $contact := .Site.Params.contact }}
        <li>
            {{ $contact | markdownify }}
        </li>
        {{ end }}
         -->
    </ul>
    <hr />
</nav>