<h3>research/paper</h3>
<ul>
  {{ $pages := .Site.RegularPages }}
  {{ range (where $pages "Section" "==" "research")}}
    {{ $include := not (default false .Params.excludeFromList) }}
    {{ if $include }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>