<h3>posts</h3>
<ul>
  {{ $pages := .Site.RegularPages }}
  {{ range (where $pages "Section" "==" "post") }}
  {{ if .Title }}
  <li>
    {{ if .Date }}
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    {{ end }}
    <a href="{{ .RelPermalink }}"> {{ .Title | markdownify }}</a>
  </li>
  {{ end }}
  {{ end }}
</ul>