{{- define "main" -}}
<main aria-role="main">
    <header>
        {{ if .Title }}
        <h1>{{ .Title }}</h1>
        {{ end }}
        {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
        {{ end }}
    </header>
    <div>
        <div class="box with-drop-shadow">
            {{ .Content }}
        </div>
    </div>
    <br>
    <div class="box with-drop-shadow">
        {{ partial "posts_list.html" . }}
    </div>
    <br>
    <div class="box with-drop-shadow">
        {{ partial "papers_list.html" . }}
    </div>
</main>
{{- end -}}