nav {
    display: none;
}

body {
    /* background: url('https://i.stack.imgur.com/jGlzr.png') repeat 0 0 scroll; */
    background-color: #ffffff;
    background-image: none;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}


.article-meta {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-radius: 0px;
}